$pallete: (
    element: rgb(35, 35, 35),
    bg: rgb(244, 244, 244),
    accent: rgb(200, 200, 200),
    selected: rgb(0, 0, 0),
);


@function colour($color-name) {
    @return map-get($pallete, $color-name);
}