$pallete: (
    element: rgb(35, 35, 35),
    bg: rgb(244, 244, 244),
    accent: rgb(200, 200, 200),
    rating: rgb(57, 167, 33),
    awaiting: rgb(0, 127, 201),
    cancelled: rgb(190, 0, 0),
    selected: rgb(30, 111, 197),
);


@function colour($color-name) {
    @return map-get($pallete, $color-name);
}