// Display Queries
@mixin tablet {
    @media (min-width: 600px) {
        @content;
    }
}


@mixin desktop {
    @media (min-width: 1000px) {
        @content;
    }
}


// Grid display
%grid {
    display: grid;
}


// Container
%container {
    position: relative;
    width: 100%;
    height: max-content;
}

.container {
    @extend %container;
}

.container-center {
    @extend %grid;
    @extend %container;
    justify-content: center;
    align-items: center;
}

.container-start {
    @extend %grid;
    @extend %container;
    justify-content: start;
}

.container-end {
    @extend %grid;
    @extend %container;
    justify-content: end;
}


// Journey element
.journey {
    @extend %grid;
    display: grid;
    align-items: center;
    justify-self: start;
    grid-template-columns: 1fr auto;
    padding: .5rem 0 .5rem;
    width: 100%;
}