// Display Queries
@mixin tablet {
    @media (min-width: 600px) {
        @content;
    }
}


@mixin desktop {
    @media (min-width: 1000px) {
        @content;
    }
}


// Grid display
%grid {
    display: grid;
}

.grid-adaptive {
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));

    @include desktop {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}


// Container
%container {
    position: relative;
    justify-self: center;
    width: 100%;
    height: max-content;
    padding: 1rem;

    h1, p {
        margin: .5rem 0 .5rem 0;
    }

    img {
        justify-self: center;
        width: 65%
    }
}

.container-center {
    @extend %grid;
    @extend %container;
    justify-content: center;
    align-items: center;
}

.container-start {
    @extend %grid;
    @extend %container;
    justify-content: start;
}

.container-end {
    @extend %grid;
    @extend %container;
    justify-content: end;
}

section {
    max-width: 600px;
}