// Import SCSS
@use 'displays';
@use 'colours';


// Menu Icon
.menuicon {
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    transition: 250ms;

    #one, #two {
        position: absolute;
        display: block;
        width: 30px;
        height: 5px;
        background-color: colour(element);
        border-radius: 2px;
        transition: all 200ms cubic-bezier(0.58, -0.33, 0.51, 1.35);
    }

    #one {
        top: 0;
        &.clicked {
            transform: rotate(45deg) translateY(6px) translateX(5px);
        }
    }

    #two {
        bottom: 0;
        &.clicked {
            transform: rotate(-45deg) translateY(-5px) translateX(5px);
        }
    }

    @include desktop {
        display: none;
    }
}


// Link styles
.link-list {
    li {
        list-style: none;
    }
}

%link {
    text-decoration: none;

    &::after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 0%;
        content: '';
        font-size: 0;
        background: colour(element);
        height: 2px;
        transition: 250ms;
    }

    &:hover::after {
        width: 100%;
    }
}

.link-nav {
    @extend %link;
    position: relative;
    color: colour(element);
    font-weight: 700;
}


// Button
.button {
    justify-self: center;
    width: max-content;
    border: 2px solid;
    border-radius: 4px;
    border-color: colour(element);
    font-weight: 600;
    text-decoration: none;

    &:hover {
        transform: scale(0.9);
            cursor: pointer;
    }

    &.one, &.two {
        margin: 1rem;
        padding: .5rem 1rem .5rem 1rem;
    }

    &.one {
        background-color: colour(element);
        color: colour(bg);
    }

    &.two {
        background-color: colour(bg);
        color: colour(element);
    }
}

.call-to-actions {
    @include tablet {
        grid-template-columns: max-content max-content;
    }

    @include desktop {

        .button {
            font-size: 1.25rem;
            padding: 1rem 1.5rem 1rem 1.5rem;
        }
    }
}