@use 'displays';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


$fonts: (
    primary: Quicksand,
);


@function font($font) {
    @return map-get($fonts, $font);
}

.center-text {
    text-align: center;
}
