@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.mobile-menu, .option, .container-end, .container-start, .container-center {
  display: grid;
}

.container-end, .container-start, .container-center, .container {
  position: relative;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.container-center {
  justify-content: center;
  align-items: center;
}

.container-start {
  justify-content: start;
}

.container-end {
  justify-content: end;
}

.text-center {
  text-align: center;
}

.mobile-menu, .option, .container-end, .container-start, .container-center {
  display: grid;
}

.container-end, .container-start, .container-center, .container {
  position: relative;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.container-center {
  justify-content: center;
  align-items: center;
}

.container-start {
  justify-content: start;
}

.container-end {
  justify-content: end;
}

.mobile-menu, .container-center, .container-start, .container-end, .option {
  display: grid;
}

.container, .container-center, .container-start, .container-end {
  position: relative;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.container-center {
  justify-content: center;
  align-items: center;
}

.container-start {
  justify-content: start;
}

.container-end {
  justify-content: end;
}

.menuicon {
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  transition: 250ms;
}
.menuicon #one, .menuicon #two {
  position: absolute;
  display: block;
  width: 30px;
  height: 5px;
  background-color: rgb(35, 35, 35);
  border-radius: 2px;
  transition: all 200ms cubic-bezier(0.58, -0.33, 0.51, 1.35);
}
.menuicon #one {
  top: 0;
}
.menuicon #one.clicked {
  transform: rotate(45deg) translateY(6px) translateX(5px);
}
.menuicon #two {
  bottom: 0;
}
.menuicon #two.clicked {
  transform: rotate(-45deg) translateY(-5px) translateX(5px);
}
@media (min-width: 1000px) {
  .menuicon {
    display: none;
  }
}

.link-list li {
  list-style: none;
}

.link-nav, .link {
  position: relative;
  color: rgb(35, 35, 35);
  text-decoration: none;
}
.link-nav::after, .link::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 0%;
  content: "";
  font-size: 0;
  background: rgb(35, 35, 35);
  height: 2px;
  transition: 250ms;
}
.link-nav:hover::after, .link:hover::after {
  width: 100%;
}

.link-nav {
  position: relative;
  color: rgb(35, 35, 35);
  font-weight: 700;
}

.button {
  justify-self: center;
  width: -moz-max-content;
  width: max-content;
  border: 2px solid;
  border-radius: 4px;
  border-color: rgb(35, 35, 35);
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.button:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button.one {
  background-color: rgb(35, 35, 35);
  color: rgb(244, 244, 244);
}
.button.two {
  background-color: rgb(244, 244, 244);
  color: rgb(35, 35, 35);
}
.button.side {
  margin: 0.5rem auto 0.5rem auto;
}

.select.active {
  border-color: rgb(30, 111, 197);
  background-color: rgb(30, 111, 197);
  color: rgb(244, 244, 244);
}

.cancel.active {
  border-color: rgb(190, 0, 0);
  background-color: rgb(190, 0, 0);
  color: rgb(244, 244, 244);
}

.call-to-actions a {
  margin: 0.5rem;
}
@media (min-width: 1000px) {
  .call-to-actions a {
    margin: 1rem;
  }
}
@media (min-width: 600px) {
  .call-to-actions {
    grid-template-columns: max-content max-content;
  }
}
@media (min-width: 1000px) {
  .call-to-actions .button {
    font-size: 1.25rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
  }
}

.forms {
  display: grid;
}
.forms > * {
  border-bottom: solid rgb(35, 35, 35);
}

form {
  display: grid;
  width: 100%;
  margin-bottom: 2rem;
}
form .button {
  justify-self: end;
}
form label, form input, form textarea {
  display: block;
}
form label {
  margin-bottom: 0.25rem;
  width: -moz-max-content;
  width: max-content;
}
form input, form textarea {
  display: block;
  margin-bottom: 0.5rem;
}
form input {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 4px;
  background-color: rgb(244, 244, 244);
}
form input:focus {
  outline: 2px solid rgb(35, 35, 35);
}
form input[type=submit] {
  justify-self: end;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
}

.checkbox {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
}
.checkbox > * {
  padding: 0.5rem;
}

.card {
  padding: 2rem;
  background-color: rgb(200, 200, 200);
}
.card a {
  margin: 1rem;
}
.card > * {
  margin: 0.5rem;
}
@media (min-width: 600px) {
  .card > * {
    margin: 0.5rem 0 0.5rem 0;
  }
}
.card img {
  justify-self: center;
  width: 90%;
  border-radius: 8px;
}
@media (min-width: 1000px) {
  .card img {
    justify-self: end;
  }
}
@media (min-width: 600px) {
  .card {
    grid-template-columns: auto 1fr;
  }
}

.option {
  display: grid;
  align-items: center;
  justify-self: start;
  grid-template-columns: 1fr auto;
  padding: 0.5rem 0 0.5rem;
  width: 100%;
}

.option-name {
  font-size: 1.25rem;
}

.rating, .accepted {
  color: rgb(57, 167, 33);
}

.awaiting {
  color: rgb(0, 127, 201);
}

.cancelled {
  color: rgb(190, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Lato;
  line-height: 1.5;
  transition: 250ms;
  box-sizing: border-box;
}

body {
  position: relative;
  display: grid;
  width: 100%;
  padding: 1rem;
  color: rgb(35, 35, 35);
  background-color: rgb(244, 244, 244);
}

nav {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  padding: 1rem;
  z-index: 2;
  max-width: 1620px;
}
nav a {
  text-decoration: none;
}
nav h1 {
  color: rgb(35, 35, 35);
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
}
nav .menuoption {
  justify-self: center;
  display: none;
}
nav .menuoption li {
  display: inline;
}
nav .menuoption a {
  margin: 0 1rem 0 1rem;
}
@media (min-width: 1000px) {
  nav .menuoption {
    display: block;
  }
}
nav .signin-login {
  display: none;
  grid-template-columns: auto auto;
  font-weight: 700;
}
nav .signin-login .sl-buttons {
  display: none;
  margin: 0 1rem 0 1rem;
}
@media (min-width: 1000px) {
  nav .signin-login .sl-buttons {
    display: block;
  }
}
@media (min-width: 1000px) {
  nav .signin-login {
    display: grid;
  }
}
@media (min-width: 1000px) {
  nav {
    justify-self: center;
    grid-template-columns: 2fr 4fr 2fr;
  }
}

.mobile-menu {
  justify-items: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  background-color: rgb(244, 244, 244);
  font-size: 2rem;
}
.mobile-menu.active {
  transform: translateX(0);
}
.mobile-menu li {
  list-style: none;
  margin: 1rem;
}
@media (min-width: 1000px) {
  .mobile-menu {
    display: none;
  }
}

main {
  justify-self: center;
  display: grid;
  width: 100%;
}
@media (min-width: 1000px) {
  main {
    padding: 1rem;
  }
}

section {
  justify-self: center;
  display: grid;
  padding: 1rem;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
}
section > * {
  margin: 1rem;
}

img {
  justify-self: center;
  width: 90%;
  border-radius: 8px;
}/*# sourceMappingURL=main.css.map */